.root {
  transition: background-color 20ms ease-in-out;
  background-color: white;
  border: solid 1px #999;
  border-radius: 5px;
  outline: none;
  padding: 0;
  padding: 0.3em;
  user-select: none;
  cursor: pointer;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.2);

  &:active {
    background-color: #eee;
  }
}

.text {
  vertical-align: middle;
}

.icon {
  display: inline-block;
  vertical-align: middle;
  width: 1.5em;
  height: 1.5em;
  margin-left: 0.5em;
}